<div class="row project my-5 mx-1">
    <div class="col-lg-8 px-0 {{#if reversed}}order-lg-last{{/if}}">
        <div class="image-shadow">
            <img src="{{screenshot}}" alt="Screenshot of {{name}}" class="img-responsive">
        </div>
    </div>
    <div class="project-desc col-lg-4">
        <h2>{{name}}</h2>
        <p>{{description}}</p>
        <a href="{{deployedURL}}" target="_blank"><button class="btn btn-slate btn-lg">Try It!</button></a>
        <a href="{{githubURL}}" target="blank"><button class="btn btn-slate btn-lg"><i class="fab fa-github"></i></button></a>
    </div>
</div>
